In [1]:
import pandas as pd

In [2]:
# Read in dataset as csv

wholesale = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00292/Wholesale%20customers%20data.csv')

wholesale.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [3]:
# Let's unpivot!

# `frame` argument: what DataFrame to manipulate
# `id_vars`: what is unique identifier
# `value_vars`: which variables to melt
# `var_name`: name the resulting values column   
# `value_name` to name the resulting labels column  


wholesale_pivot = pd.melt(frame=wholesale, id_vars = ['Channel', 'Region'],
 value_vars=wholesale.columns[2:], value_name='Sales',
 var_name='Category')


wholesale_pivot.head()

   Channel  Region Category  Sales
0        2       3    Fresh  12669
1        2       3    Fresh   7057
2        2       3    Fresh   6353
3        1       3    Fresh  13265
4        2       3    Fresh  22615

In [4]:
# Sanity check -- what are dimensions of resulting dataset?
wholesale_pivot.shape

(2640, 4)